body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    /* min-height: 100vh; */
    flex-flow: column;
}

.pink {
  color: pink;
}

//BOXES 
.boxes {
  height: 50px;
  margin-bottom: 20px;
}

.box {
  height: 120px;
  width: 120px;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  float: left;
  background-color: rgb(238, 56, 56);
  position: relative;
  
}

.box:nth-child(1) {
  background-color: rgb(255, 77, 77);
}

.box:nth-child(2) {
  background-color: rgb(255, 91, 91);
}

.box:nth-child(3) {
  background-color: rgb(255, 130, 130);
}

.box:nth-child(4) {
  background-color: rgb(255, 144, 144);
}

.box:nth-child(5) {
  background-color: rgb(252, 175, 175);
}

.boxes2 {
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
  }

.box2 {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  margin-right: 20px;
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: 300;
  background-color: rgb(238, 56, 56);
  position: relative;
}

.box2:nth-child(1) {
  background-color: rgb(255, 77, 77);
}

.box2:nth-child(2) {
  background-color: rgb(255, 91, 91);
}

.box2:nth-child(3) {
  background-color: rgb(255, 130, 130);
}

.box2:nth-child(4) {
  background-color: rgb(255, 144, 144);
}

.box2:nth-child(5) {
  background-color: rgb(252, 175, 175);
}
